# Dependency directories
/node_modules

# Compiled output
/build
/dist

# Environment variables
.env*

# IDE files
*.idea
*.iml
.vscode

# Compiled JSX
*.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
